.calculator h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

.calc {
  background-color: #434343;
}

#calo_popup {
  display: none;
}

#cart {
  display: none;
}

.hidden {
  display: none;
}

.container {
  box-shadow: 0px 25px 82px 0px rgba(212, 212, 212, 0.25);
  width: 58%;
  padding: 0;
}

.container * {
  color: #e8e8e8;
}

.container b {
  color: #23d7ff;
}

.container input,
.container select,
.container option {
  color: #2d2d2d;
  background-color: white;
  border-radius: 100vw;
}

main {
  background-image: url("../images/calc-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-header h5 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #cdcdcd;
  stroke: #656565;
  stroke-width: 1px;
}

.card-header,
.card-footer {
  background-color: #222222;
  border-color: 2px white;
}

.card-body {
  background-color: #4b4b4b;
}

.card-footer button {
  font-weight: 900;
  font-size: 1.25rem;
  background-color: #515151;
  border: 0;
}

.card-footer button:hover {
  background-color: #676767;
}
