.home {
  background-color: #434343;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-block: 0.5rem;
  height: 2.5rem;
  width: 90%;
}

.search-field {
  border-bottom-left-radius: 100vw;
  border-top-left-radius: 100vw;
  padding: 5px 10px;
  padding-right: 0;
  border: 1px solid #333;
  width: calc(100% - 3.5rem);
  height: 100%;
}

.search-field:focus {
  outline: 0;
  border: 1px solid rgb(0, 4, 255);
}

.search-bar button {
  background-color: #565656;
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  border: 1px solid #333;
  border-left: 0;
  width: 3.5rem;
  height: 100%;
}

.search-bar button img {
  height: 1.5rem;
}

.foodlist {
  list-style-type: none;
  background-color: white;
  width: 90%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-track-color: rgba(0, 0, 0, 0.5);
  max-height: calc(100vh - 12rem - 3.875rem - 1.5rem - 2rem - 3.5rem);
  border-radius: 1.25rem;
  margin-bottom: 0.5rem;
}

.foodlist * {
  cursor: pointer;
  color: #121212;
  padding: 0.25rem;
}

#selectedfood-popup {
  display: none;
}

#cart {
  display: none;
}

#calo_goal {
  display: none;
}

.not-found {
  display: none;
  color: white;
  padding-block: 0.5rem;
}

.hidden {
  display: none;
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

main {
  background-image: url("../images/Group 4.png");
  background-repeat: repeat;
}

.flex-body {
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: flex;
  border-inline: 2px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrap {
  background-color: #2d2c2c;
  border: 1px solid black;
  border-radius: 1.625rem;
  width: 80%;
  max-height: calc(100% - 8rem);
  margin-bottom: 4rem;
  box-shadow: 0px 25px 82px 0px rgba(212, 212, 212, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-label {
  margin-top: 4rem;
  background-color: #2d2c2c;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}

.search-bar-label h2 {
  padding: 0.75rem 2rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 900;
  color: #cdcdcd;
  stroke: #656565;
  stroke-width: 1px;
}

#popupContent {
  margin: 0.5rem;
  width: 100%;
  text-align: start;
  padding: 0.25rem 0.5rem;
  background-color: #eaeaea;
  color: black;
  border-radius: 0.625rem;
}

.save-serving {
  width: 100%;
}

.servings {
  border-radius: 100vw;
  border: 0;
  width: 60%;
  padding-left: 0.5rem;
}

#addToCartBtn {
  border: 0;
  color: #cdcdcd;
  font-weight: 900;
  background-color: #202020;
  padding: 0.5rem 2rem;
  border-radius: 0.625rem;
}
